services:
  pdf-service:
    build:
      context: .
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      - PYTHONUNBUFFERED=1
    # Redémarre si crash, mais pas nécessairement en cas de stop manuel
    restart: unless-stopped
